<mat-grid-list cols="3" rowHeight="10rem">
    <mat-grid-tile class="custom-tile" *ngFor="let tile of tiles" [colspan]="tile.cols" [style.background-size]="tile.size" [rowspan]="tile.rows">
        <div class="footer_content">
            <h3>{{tile.text}}</h3>
            <mat-list *ngIf="tile.items">
                <mat-list-item *ngFor="let item of tile.items">
                    {{item}}
                </mat-list-item>
            </mat-list>
            <a *ngIf="tile.imageUrl" [href]="tile.mapUrl" target="_blank">
                <img [src]="tile.imageUrl" alt="Ubicación" width="320rem">
            </a>
        </div>
    </mat-grid-tile>
</mat-grid-list>
