@import "../../styles/variables";

.contento {
    @include main;
}
.containerDays{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
    @include centerGrid;
}