<div class="main">
    <div class="login">
        <h1>Inicia sesión</h1>
        <div class="email">
            <mat-form-field class="emailFitContent">
                <mat-label>Introduce tu email</mat-label>
                <input matInput placeholder="pat@example.com" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="password">
            <mat-form-field>
                <mat-label>Introduce tu contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <button id="button" mat-raised-button color="primary" routerLink="../admin">Send</button>
    </div>
</div>