<ng-container *ngFor="let day of daysOfWeek; let i = index" class="dayweek">
    <h3>{{ day }}</h3>
    <mat-list>
        <mat-list-item *ngFor="let dish of getDishesForDay(i)">
            <span matListItemTitle>{{ dish.name }}</span>
            <span matListItemLine>{{ dish.description }}</span>
            <span matListItemLine>Precio :{{ dish.price }}€</span>
        </mat-list-item>
    </mat-list>
</ng-container>

<h5>*Avísanos simpre si eres celíaco, intolerante a la lactosa o tienes algún tipo de alergia u otra intoleracia alimentaria</h5>
