@import "../app/styles/variables";
.contento {
    margin-top: 7rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
}

.toolbar img {
    margin: 0 16px;
}

.containerDays{
    margin-left: 3rem;
    margin-right: 3rem;
}

footer{
    background-color: $color_background_2;
}