@import "../../styles/variables";

.main{
    @include main;
    margin-top: 12rem;
    margin-bottom: 12rem;
    @include centerGrid;
}

.buttonmenu{
    margin: 2rem;
    width: 10rem;
    height: 8rem;
}